<div class="row justify-content-center">
  <div class="col-12 col-sm-6 mb-4">
    <% content_for :title, "New comment" %>

    <h1>Nuevo comentario</h1>

    <%= render "form", comment: @comment %>
    <br>

    <div>
      <%= link_to "Regresar a noticias", posts_path %>
    </div>
  </div>
</div>
